faiss-cpu==1.7.4
ipykernel==6.28.0
langchain
numpy==1.26.2
pandas>=2.0.3
pytest==7.4.0
tqdm==4.66.1
sentence-transformers==2.2.2
file-processing @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing-tools.git